<form class="col-6" role="form" action="/forgot-password" method="post">
  <br style="clear:both">
  <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="text-center">
    <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right btn-submit">RESET</button>
  </div>
</form>